[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-certifi-win32 = "*"
selenium = "*"
chromedriver-binary-auto = "*"
python-dotenv = "*"
edgedriver-autoinstaller = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
